<nav class="navbar navbar-expand-lg  bg-purple container-fluid ">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">P&A Travel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            <a class="nav-link active" asp-controller="Home" asp-action="Index" >Home</a>
              <a class="nav-link " asp-controller="Flights" asp-action="Index">Flights</a>
              <a class="nav-link" asp-controller="Stays" asp-action="Index">Stays</a>
             <a class="nav-link" asp-controller="Vehicles" asp-action="Index">Vehicles</a> 
            <a class="nav-link" asp-controller="Events" asp-action="Index">Events</a> 
            <!-- <a class="nav-link active" asp-controller="Home" asp-action="Support">Support</a>-->
            <a class="nav-link" asp-controller="Login" asp-action="Index" >Login</a>
        </div>
    </div>
    
</nav>
