@model IEnumerable<GBC_Travel_Group_125.Models.Booking>

@{
    ViewData["Title"] = "Booking List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Vehicle Name</th>
            <th>Booking Date</th>
            <th>User ID</th> <!-- Display this only if relevant -->
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => booking.BookingId)</td>
                <td>@Html.DisplayFor(modelItem => booking.Vehicle.VehicleName)</td>
                <td>@Html.DisplayFor(modelItem => booking.BookingDate)</td>
            </tr>
        }
    </tbody>
</table>
